/*
html, body {
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;

  font-size: 12pt;
  font-family: sans-serif;
  text-align: center;

  color: #444;
}

section {
  margin: 0 auto;
  width: 70%;
}

form#game .game-add {
  display: inline-block;
}

td.entry-edit, .entry-delete {
  cursor: pointer;
  display: table-cell !important;
}

.credits {
  text-align: left;
  margin-top: 10%;
}

.credits p {
  color: #999;
}

.credits a:hover {
  text-decoration: underline;
}
*/

body { overflow: hidden }

div.master { height: 100% }
